/*!
 * JungleCSS v0.1.0 (http://junglecss.github.io/JungleCSS/)
 * Copyright 2018 JungleCSS
 * MIT License (https://raw.githubusercontent.com/JungleCSS/JungleCSS/master/LICENSE)
 */
		/* Rojo */
.rojo.claro-1 {background:#FFEBEE !important;}
.rojo.claro-2 {background:#FFCDD2 !important;}
.rojo.claro-3 {background:#EF9A9A !important;}
.rojo.claro-4 {background:#E57373 !important;}
.rojo.claro-5 {background:#EF5350 !important;}
.rojo {background:#F44336 !important;}
.rojo.oscuro-1 {background:#E53935 !important;}
.rojo.oscuro-2 {background:#D32F2F !important;}
.rojo.oscuro-3 {background:#C62828 !important;}
.rojo.oscuro-4 {background:#B71C1C !important;}
.rojo.extra-1 {background:#FF8A80 !important;}
.rojo.extra-2 {background:#FF5252 !important;}
.rojo.extra-3 {background:#FF1744 !important;}
.rojo.extra-4 {background:#D50000 !important;}

.rojo-texto.claro-1 {color:#FFEBEE !important;}
.rojo-texto.claro-2 {color:#FFCDD2 !important;}
.rojo-texto.claro-3 {color:#EF9A9A !important;}
.rojo-texto.claro-4 {color:#E57373 !important;}
.rojo-texto.claro-5 {color:#EF5350 !important;}
.rojo-texto {color:#F44336 !important;}
.rojo-texto.oscuro-1 {color:#E53935 !important;}
.rojo-texto.oscuro-2 {color:#D32F2F !important;}
.rojo-texto.oscuro-3 {color:#C62828 !important;}
.rojo-texto.oscuro-4 {color:#B71C1C !important;}
.rojo-texto.extra-1 {color:#FF8A80 !important;}
.rojo-texto.extra-2 {color:#FF5252 !important;}
.rojo-texto.extra-3 {color:#FF1744 !important;}
.rojo-texto.extra-4 {color:#D50000 !important;}

		/* Rosa */
.rosa.claro-1 {background:#FCE4EC !important;}
.rosa.claro-2 {background:#F8BBD0 !important;}
.rosa.claro-3 {background:#F48FB1 !important;}
.rosa.claro-4 {background:#F06292 !important;}
.rosa.claro-5 {background:#EC407A !important;}
.rosa {background:#E91E63 !important;}
.rosa.oscuro-1 {background:#D81B60 !important;}
.rosa.oscuro-2 {background:#C2185B !important;}
.rosa.oscuro-3 {background:#AD1457 !important;}
.rosa.oscuro-4 {background:#880E4F !important;}
.rosa.extra-1 {background:#FF80AB !important;}
.rosa.extra-2 {background:#FF4081 !important;}
.rosa.extra-3 {background:#F50057 !important;}
.rosa.extra-4 {background:#C51162 !important;}

.rosa-texto.claro-1 {color:#FCE4EC !important;}
.rosa-texto.claro-2 {color:#F8BBD0 !important;}
.rosa-texto.claro-3 {color:#F48FB1 !important;}
.rosa-texto.claro-4 {color:#F06292 !important;}
.rosa-texto.claro-5 {color:#EC407A !important;}
.rosa-texto {color:#E91E63 !important;}
.rosa-texto.oscuro-1 {color:#D81B60 !important;}
.rosa-texto.oscuro-2 {color:#C2185B !important;}
.rosa-texto.oscuro-3 {color:#AD1457 !important;}
.rosa-texto.oscuro-4 {color:#880E4F !important;}
.rosa-texto.extra-1 {color:#FF80AB !important;}
.rosa-texto.extra-2 {color:#FF4081 !important;}
.rosa-texto.extra-3 {color:#F50057 !important;}
.rosa-texto.extra-4 {color:#C51162 !important;}

		/* Morado */
.morado.claro-1 {background:#F3E5F5 !important;}
.morado.claro-2 {background:#E1BEE7 !important;}
.morado.claro-3 {background:#CE93D8 !important;}
.morado.claro-4 {background:#BA68C8 !important;}
.morado.claro-5 {background:#AB47BC !important;}
.morado {background:#9C27B0 !important;}
.morado.oscuro-1 {background:#8E24AA !important;}
.morado.oscuro-2 {background:#7B1FA2 !important;}
.morado.oscuro-3 {background:#6A1B9A !important;}
.morado.oscuro-4 {background:#4A148C !important;}
.morado.extra-1 {background:#EA80FC !important;}
.morado.extra-2 {background:#E040FB !important;}
.morado.extra-3 {background:#D500F9 !important;}
.morado.extra-4 {background:#AA00FF !important;}

.morado-texto.claro-1 {color:#F3E5F5 !important;}
.morado-texto.claro-2 {color:#E1BEE7 !important;}
.morado-texto.claro-3 {color:#CE93D8 !important;}
.morado-texto.claro-4 {color:#BA68C8 !important;}
.morado-texto.claro-5 {color:#AB47BC !important;}
.morado-texto {color:#9C27B0 !important;}
.morado-texto.oscuro-1 {color:#8E24AA !important;}
.morado-texto.oscuro-2 {color:#7B1FA2 !important;}
.morado-texto.oscuro-3 {color:#6A1B9A !important;}
.morado-texto.oscuro-4 {color:#4A148C !important;}
.morado-texto.extra-1 {color:#EA80FC !important;}
.morado-texto.extra-2 {color:#E040FB !important;}
.morado-texto.extra-3 {color:#D500F9 !important;}
.morado-texto.extra-4 {color:#AA00FF !important;}

		/* Morado Profundo */
.morado-profundo.claro-1 {background:#EDE7F6 !important;}
.morado-profundo.claro-2 {background:#D1C4E9 !important;}
.morado-profundo.claro-3 {background:#B39DDB !important;}
.morado-profundo.claro-4 {background:#9575CD !important;}
.morado-profundo.claro-5 {background:#7E57C2 !important;}
.morado-profundo {background:#673AB7 !important;}
.morado-profundo.oscuro-1 {background:#5E35B1 !important;}
.morado-profundo.oscuro-2 {background:#512DA8 !important;}
.morado-profundo.oscuro-3 {background:#4527A0 !important;}
.morado-profundo.oscuro-4 {background:#311B92 !important;}
.morado-profundo.extra-1 {background:#B388FF !important;}
.morado-profundo.extra-2 {background:#7C4DFF !important;}
.morado-profundo.extra-3 {background:#651FFF !important;}
.morado-profundo.extra-4 {background:#6200EA !important;}

.morado-profundo-texto.claro-1 {color:#EDE7F6 !important;}
.morado-profundo-texto.claro-2 {color:#D1C4E9 !important;}
.morado-profundo-texto.claro-3 {color:#B39DDB !important;}
.morado-profundo-texto.claro-4 {color:#9575CD !important;}
.morado-profundo-texto.claro-5 {color:#7E57C2 !important;}
.morado-profundo-texto {color:#673AB7 !important;}
.morado-profundo-texto.oscuro-1 {color:#5E35B1 !important;}
.morado-profundo-texto.oscuro-2 {color:#512DA8 !important;}
.morado-profundo-texto.oscuro-3 {color:#4527A0 !important;}
.morado-profundo-texto.oscuro-4 {color:#311B92 !important;}
.morado-profundo-texto.extra-1 {color:#B388FF !important;}
.morado-profundo-texto.extra-2 {color:#7C4DFF !important;}
.morado-profundo-texto.extra-3 {color:#651FFF !important;}
.morado-profundo-texto.extra-4 {color:#6200EA !important;}

		/* Indigo */
.indigo.claro-1 {background:#E8EAF6 !important;}
.indigo.claro-2 {background:#C5CAE9 !important;}
.indigo.claro-3 {background:#9FA8DA !important;}
.indigo.claro-4 {background:#7986CB !important;}
.indigo.claro-5 {background:#5C6BC0 !important;}
.indigo {background:#3F51B5 !important;}
.indigo.oscuro-1 {background:#3949AB !important;}
.indigo.oscuro-2 {background:#303F9F !important;}
.indigo.oscuro-3 {background:#283593 !important;}
.indigo.oscuro-4 {background:#1A237E !important;}
.indigo.extra-1 {background:#8C9EFF !important;}
.indigo.extra-2 {background:#536DFE !important;}
.indigo.extra-3 {background:#3D5AFE !important;}
.indigo.extra-4 {background:#304FFE !important;}

.indigo-texto.claro-1 {color:#E8EAF6 !important;}
.indigo-texto.claro-2 {color:#C5CAE9 !important;}
.indigo-texto.claro-3 {color:#9FA8DA !important;}
.indigo-texto.claro-4 {color:#7986CB !important;}
.indigo-texto.claro-5 {color:#5C6BC0 !important;}
.indigo-texto {color:#3F51B5 !important;}
.indigo-texto.oscuro-1 {color:#3949AB !important;}
.indigo-texto.oscuro-2 {color:#303F9F !important;}
.indigo-texto.oscuro-3 {color:#283593 !important;}
.indigo-texto.oscuro-4 {color:#1A237E !important;}
.indigo-texto.extra-1 {color:#8C9EFF !important;}
.indigo-texto.extra-2 {color:#536DFE !important;}
.indigo-texto.extra-3 {color:#3D5AFE !important;}
.indigo-texto.extra-4 {color:#304FFE !important;}

		/* Azul */
.azul.claro-1 {background:#E3F2FD !important;}
.azul.claro-2 {background:#BBDEFB !important;}
.azul.claro-3 {background:#90CAF9 !important;}
.azul.claro-4 {background:#64B5F6 !important;}
.azul.claro-5 {background:#42A5F5 !important;}
.azul {background:#2196F3 !important;}
.azul.oscuro-1 {background:#1E88E5 !important;}
.azul.oscuro-2 {background:#1976D2 !important;}
.azul.oscuro-3 {background:#1565C0 !important;}
.azul.oscuro-4 {background:#0D47A1 !important;}
.azul.extra-1 {background:#82B1FF !important;}
.azul.extra-2 {background:#448AFF !important;}
.azul.extra-3 {background:#2979FF !important;}
.azul.extra-4 {background:#2962FF !important;}

.azul-texto.claro-1 {color:#E3F2FD !important;}
.azul-texto.claro-2 {color:#BBDEFB !important;}
.azul-texto.claro-3 {color:#90CAF9 !important;}
.azul-texto.claro-4 {color:#64B5F6 !important;}
.azul-texto.claro-5 {color:#42A5F5 !important;}
.azul-texto {color:#2196F3 !important;}
.azul-texto.oscuro-1 {color:#1E88E5 !important;}
.azul-texto.oscuro-2 {color:#1976D2 !important;}
.azul-texto.oscuro-3 {color:#1565C0 !important;}
.azul-texto.oscuro-4 {color:#0D47A1 !important;}
.azul-texto.extra-1 {color:#82B1FF !important;}
.azul-texto.extra-2 {color:#448AFF !important;}
.azul-texto.extra-3 {color:#2979FF !important;}
.azul-texto.extra-4 {color:#2962FF !important;}

		/* Azul Claro */
.azul-claro.claro-1 {background:#E1F5FE !important;}
.azul-claro.claro-2 {background:#B3E5FC !important;}
.azul-claro.claro-3 {background:#81D4fA !important;}
.azul-claro.claro-4 {background:#4fC3F7 !important;}
.azul-claro.claro-5 {background:#29B6FC !important;}
.azul-claro {background:#03A9F4 !important;}
.azul-claro.oscuro-1 {background:#039BE5 !important;}
.azul-claro.oscuro-2 {background:#0288D1 !important;}
.azul-claro.oscuro-3 {background:#0277BD !important;}
.azul-claro.oscuro-4 {background:#01579B !important;}
.azul-claro.extra-1 {background:#80D8FF !important;}
.azul-claro.extra-2 {background:#40C4FF !important;}
.azul-claro.extra-3 {background:#00B0FF !important;}
.azul-claro.extra-4 {background:#0091EA !important;}

.azul-claro-texto.claro-1 {color:#E1F5FE !important;}
.azul-claro-texto.claro-2 {color:#B3E5FC !important;}
.azul-claro-texto.claro-3 {color:#81D4fA !important;}
.azul-claro-texto.claro-4 {color:#4fC3F7 !important;}
.azul-claro-texto.claro-5 {color:#29B6FC !important;}
.azul-claro-texto {color:#03A9F4 !important;}
.azul-claro-texto.oscuro-1 {color:#039BE5 !important;}
.azul-claro-texto.oscuro-2 {color:#0288D1 !important;}
.azul-claro-texto.oscuro-3 {color:#0277BD !important;}
.azul-claro-texto.oscuro-4 {color:#01579B !important;}
.azul-claro-texto.extra-1 {color:#80D8FF !important;}
.azul-claro-texto.extra-2 {color:#40C4FF !important;}
.azul-claro-texto.extra-3 {color:#00B0FF !important;}
.azul-claro-texto.extra-4 {color:#0091EA !important;}

		/* Cian */
.cian.claro-1 {background:#E0F7FA !important;}
.cian.claro-2 {background:#B2EBF2 !important;}
.cian.claro-3 {background:#80DEEA !important;}
.cian.claro-4 {background:#4DD0E1 !important;}
.cian.claro-5 {background:#26C6DA !important;}
.cian {background:#00BCD4 !important;}
.cian.oscuro-1 {background:#00ACC1 !important;}
.cian.oscuro-2 {background:#0097A7 !important;}
.cian.oscuro-3 {background:#00838F !important;}
.cian.oscuro-4 {background:#006064 !important;}
.cian.extra-1 {background:#84FFFF !important;}
.cian.extra-2 {background:#18FFFF !important;}
.cian.extra-3 {background:#00E5FF !important;}
.cian.extra-4 {background:#00B8D4 !important;}

.cian-texto.claro-1 {color:#E0F7FA !important;}
.cian-texto.claro-2 {color:#B2EBF2 !important;}
.cian-texto.claro-3 {color:#80DEEA !important;}
.cian-texto.claro-4 {color:#4DD0E1 !important;}
.cian-texto.claro-5 {color:#26C6DA !important;}
.cian-texto {color:#00BCD4 !important;}
.cian-texto.oscuro-1 {color:#00ACC1 !important;}
.cian-texto.oscuro-2 {color:#0097A7 !important;}
.cian-texto.oscuro-3 {color:#00838F !important;}
.cian-texto.oscuro-4 {color:#006064 !important;}
.cian-texto.extra-1 {color:#84FFFF !important;}
.cian-texto.extra-2 {color:#18FFFF !important;}
.cian-texto.extra-3 {color:#00E5FF !important;}
.cian-texto.extra-4 {color:#00B8D4 !important;}

		/* Teal */
.teal.claro-1 {background:#E0F2F1 !important;}
.teal.claro-2 {background:#B2DFDB !important;}
.teal.claro-3 {background:#80CBC4 !important;}
.teal.claro-4 {background:#4DB6AC !important;}
.teal.claro-5 {background:#26A69A !important;}
.teal {background:#009688 !important;}
.teal.oscuro-1 {background:#00897B !important;}
.teal.oscuro-2 {background:#00796B !important;}
.teal.oscuro-3 {background:#00695C !important;}
.teal.oscuro-4 {background:#004D40 !important;}
.teal.extra-1 {background:#A7FFEB !important;}
.teal.extra-2 {background:#64FFDA !important;}
.teal.extra-3 {background:#1DE9B6 !important;}
.teal.extra-4 {background:#00BFA5 !important;}

.teal-texto.claro-1 {color:#E0F2F1 !important;}
.teal-texto.claro-2 {color:#B2DFDB !important;}
.teal-texto.claro-3 {color:#80CBC4 !important;}
.teal-texto.claro-4 {color:#4DB6AC !important;}
.teal-texto.claro-5 {color:#26A69A !important;}
.teal-texto {color:#009688 !important;}
.teal-texto.oscuro-1 {color:#00897B !important;}
.teal-texto.oscuro-2 {color:#00796B !important;}
.teal-texto.oscuro-3 {color:#00695C !important;}
.teal-texto.oscuro-4 {color:#004D40 !important;}
.teal-texto.extra-1 {color:#A7FFEB !important;}
.teal-texto.extra-2 {color:#64FFDA !important;}
.teal-texto.extra-3 {color:#1DE9B6 !important;}
.teal-texto.extra-4 {color:#00BFA5 !important;}

		/* Verde */
.verde.claro-1 {background:#E8F5E9 !important;}
.verde.claro-2 {background:#C8E6C9 !important;}
.verde.claro-3 {background:#A5D6A7 !important;}
.verde.claro-4 {background:#81C784 !important;}
.verde.claro-5 {background:#66BB6A !important;}
.verde {background:#4CAF50 !important;}
.verde.oscuro-1 {background:#43A047 !important;}
.verde.oscuro-2 {background:#388E3C !important;}
.verde.oscuro-3 {background:#2E7D32 !important;}
.verde.oscuro-4 {background:#1B5E20 !important;}
.verde.extra-1 {background:#B9F6CA !important;}
.verde.extra-2 {background:#69F0AE !important;}
.verde.extra-3 {background:#00E676 !important;}
.verde.extra-4 {background:#00C853 !important;}

.verde-texto.claro-1 {color:#E8F5E9 !important;}
.verde-texto.claro-2 {color:#C8E6C9 !important;}
.verde-texto.claro-3 {color:#A5D6A7 !important;}
.verde-texto.claro-4 {color:#81C784 !important;}
.verde-texto.claro-5 {color:#66BB6A !important;}
.verde {color:#4CAF50 !important;}
.verde-texto.oscuro-1 {color:#43A047 !important;}
.verde-texto.oscuro-2 {color:#388E3C !important;}
.verde-texto.oscuro-3 {color:#2E7D32 !important;}
.verde-texto.oscuro-4 {color:#1B5E20 !important;}
.verde-texto.extra-1 {color:#B9F6CA !important;}
.verde-texto.extra-2 {color:#69F0AE !important;}
.verde-texto.extra-3 {color:#00E676 !important;}
.verde-texto.extra-4 {color:#00C853 !important;}

		/* Verde Claro */
.verde-claro.claro-1 {background:#F1F8E9 !important;}
.verde-claro.claro-2 {background:#DCEDC8 !important;}
.verde-claro.claro-3 {background:#C5E1A5 !important;}
.verde-claro.claro-4 {background:#AED581 !important;}
.verde-claro.claro-5 {background:#9CCC65 !important;}
.verde-claro {background:#8BC34A !important;}
.verde-claro.oscuro-1 {background:#7CB342 !important;}
.verde-claro.oscuro-2 {background:#689F38 !important;}
.verde-claro.oscuro-3 {background:#558B2F !important;}
.verde-claro.oscuro-4 {background:#33691E !important;}
.verde-claro.extra-1 {background:#CCFF90 !important;}
.verde-claro.extra-2 {background:#B2FF59 !important;}
.verde-claro.extra-3 {background:#76FF03 !important;}
.verde-claro.extra-4 {background:#64DD17 !important;}

.verde-claro-texto.claro-1 {color:#F1F8E9 !important;}
.verde-claro-texto.claro-2 {color:#DCEDC8 !important;}
.verde-claro-texto.claro-3 {color:#C5E1A5 !important;}
.verde-claro-texto.claro-4 {color:#AED581 !important;}
.verde-claro-texto.claro-5 {color:#9CCC65 !important;}
.verde-claro-texto {color:#8BC34A !important;}
.verde-claro-texto.oscuro-1 {color:#7CB342 !important;}
.verde-claro-texto.oscuro-2 {color:#689F38 !important;}
.verde-claro-texto.oscuro-3 {color:#558B2F !important;}
.verde-claro-texto.oscuro-4 {color:#33691E !important;}
.verde-claro-texto.extra-1 {color:#CCFF90 !important;}
.verde-claro-texto.extra-2 {color:#B2FF59 !important;}
.verde-claro-texto.extra-3 {color:#76FF03 !important;}
.verde-claro-texto.extra-4 {color:#64DD17 !important;}

		/* Lima */
.lima.claro-1 {background:#F9FBE7 !important;}
.lima.claro-2 {background:#F0F4C3 !important;}
.lima.claro-3 {background:#E6EE9C !important;}
.lima.claro-4 {background:#DCE775 !important;}
.lima.claro-5 {background:#D4E157 !important;}
.lima {background:#CDDC39 !important;}
.lima.oscuro-1 {background:#C0CA33 !important;}
.lima.oscuro-2 {background:#A4B42B !important;}
.lima.oscuro-3 {background:#9E9D24 !important;}
.lima.oscuro-4 {background:#827717 !important;}
.lima.extra-1 {background:#F4FF81 !important;}
.lima.extra-2 {background:#EEFF41 !important;}
.lima.extra-3 {background:#C6FF00 !important;}
.lima.extra-4 {background:#AEEA00 !important;}

.lima-texto.claro-1 {color:#F9FBE7 !important;}
.lima-texto.claro-2 {color:#F0F4C3 !important;}
.lima-texto.claro-3 {color:#E6EE9C !important;}
.lima-texto.claro-4 {color:#DCE775 !important;}
.lima-texto.claro-5 {color:#D4E157 !important;}
.lima-texto {color:#CDDC39 !important;}
.lima-texto.oscuro-1 {color:#C0CA33 !important;}
.lima-texto.oscuro-2 {color:#A4B42B !important;}
.lima-texto.oscuro-3 {color:#9E9D24 !important;}
.lima-texto.oscuro-4 {color:#827717 !important;}
.lima-texto.extra-1 {color:#F4FF81 !important;}
.lima-texto.extra-2 {color:#EEFF41 !important;}
.lima-texto.extra-3 {color:#C6FF00 !important;}
.lima-texto.extra-4 {color:#AEEA00 !important;}

		/* Amarillo */
.amarillo.claro-1 {background:#FFFDE7 !important;}
.amarillo.claro-2 {background:#FFF9C4 !important;}
.amarillo.claro-3 {background:#FFF590 !important;}
.amarillo.claro-4 {background:#FFF176 !important;}
.amarillo.claro-5 {background:#FFEE58 !important;}
.amarillo {background:#FFEB3B !important;}
.amarillo.oscuro-1 {background:#FDD835 !important;}
.amarillo.oscuro-2 {background:#FBC02D !important;}
.amarillo.oscuro-3 {background:#F9A825 !important;}
.amarillo.oscuro-4 {background:#F57F17 !important;}
.amarillo.extra-1 {background:#FFFF82 !important;}
.amarillo.extra-2 {background:#FFFF00 !important;}
.amarillo.extra-3 {background:#FFEA00 !important;}
.amarillo.extra-4 {background:#FFD600 !important;}

.amarillo-texto.claro-1 {color:#FFFDE7 !important;}
.amarillo-texto.claro-2 {color:#FFF9C4 !important;}
.amarillo-texto.claro-3 {color:#FFF590 !important;}
.amarillo-texto.claro-4 {color:#FFF176 !important;}
.amarillo-texto.claro-5 {color:#FFEE58 !important;}
.amarillo-texto {color:#FFEB3B !important;}
.amarillo-texto.oscuro-1 {color:#FDD835 !important;}
.amarillo-texto.oscuro-2 {color:#FBC02D !important;}
.amarillo-texto.oscuro-3 {color:#F9A825 !important;}
.amarillo-texto.oscuro-4 {color:#F57F17 !important;}
.amarillo-texto.extra-1 {color:#FFFF82 !important;}
.amarillo-texto.extra-2 {color:#FFFF00 !important;}
.amarillo-texto.extra-3 {color:#FFEA00 !important;}
.amarillo-texto.extra-4 {color:#FFD600 !important;}

		/* Ambar */
.ambar.claro-1 {background:#FFF8E1 !important;}
.ambar.claro-2 {background:#FFECB3 !important;}
.ambar.claro-3 {background:#FFE082 !important;}
.ambar.claro-4 {background:#FFD54F !important;}
.ambar.claro-5 {background:#FFCA28 !important;}
.ambar {background:#FFC107 !important;}
.ambar.oscuro-1 {background:#FFB300 !important;}
.ambar.oscuro-2 {background:#FFA000 !important;}
.ambar.oscuro-3 {background:#FF8F00 !important;}
.ambar.oscuro-4 {background:#FF6F00 !important;}
.ambar.extra-1 {background:#FFE57F !important;}
.ambar.extra-2 {background:#FFD740 !important;}
.ambar.extra-3 {background:#FFC400 !important;}
.ambar.extra-4 {background:#FFAB00 !important;}

.ambar-texto.claro-1 {color:#FFF8E1 !important;}
.ambar-texto.claro-2 {color:#FFECB3 !important;}
.ambar-texto.claro-3 {color:#FFE082 !important;}
.ambar-texto.claro-4 {color:#FFD54F !important;}
.ambar-texto.claro-5 {color:#FFCA28 !important;}
.ambar-texto {color:#FFC107 !important;}
.ambar-texto.oscuro-1 {color:#FFB300 !important;}
.ambar-texto.oscuro-2 {color:#FFA000 !important;}
.ambar-texto.oscuro-3 {color:#FF8F00 !important;}
.ambar-texto.oscuro-4 {color:#FF6F00 !important;}
.ambar-texto.extra-1 {color:#FFE57F !important;}
.ambar-texto.extra-2 {color:#FFD740 !important;}
.ambar-texto.extra-3 {color:#FFC400 !important;}
.ambar-texto.extra-4 {color:#FFAB00 !important;}

		/* Naranja */
.naranja.claro-1 {background:#FFF3E0 !important;}
.naranja.claro-2 {background:#FFE0B2 !important;}
.naranja.claro-3 {background:#FFCC80 !important;}
.naranja.claro-4 {background:#FFB74D !important;}
.naranja.claro-5 {background:#FFA726 !important;}
.naranja {background:#FF9800 !important;}
.naranja.oscuro-1 {background:#FB8C00 !important;}
.naranja.oscuro-2 {background:#F57C00 !important;}
.naranja.oscuro-3 {background:#EF6C00 !important;}
.naranja.oscuro-4 {background:#E65100 !important;}
.naranja.extra-1 {background:#FFD180 !important;}
.naranja.extra-2 {background:#FFAB40 !important;}
.naranja.extra-3 {background:#FF9100 !important;}
.naranja.extra-4 {background:#FF6D00 !important;}

.naranja-texto.claro-1 {color:#FFF3E0 !important;}
.naranja-texto.claro-2 {color:#FFE0B2 !important;}
.naranja-texto.claro-3 {color:#FFCC80 !important;}
.naranja-texto.claro-4 {color:#FFB74D !important;}
.naranja-texto.claro-5 {color:#FFA726 !important;}
.naranja-texto {color:#FF9800 !important;}
.naranja-texto.oscuro-1 {color:#FB8C00 !important;}
.naranja-texto.oscuro-2 {color:#F57C00 !important;}
.naranja-texto.oscuro-3 {color:#EF6C00 !important;}
.naranja-texto.oscuro-4 {color:#E65100 !important;}
.naranja-texto.extra-1 {color:#FFD180 !important;}
.naranja-texto.extra-2 {color:#FFAB40 !important;}
.naranja-texto.extra-3 {color:#FF9100 !important;}
.naranja-texto.extra-4 {color:#FF6D00 !important;}

		/* Naranja Profundo */
.naranja-profundo.claro-1 {background:#FBE9E7 !important;}
.naranja-profundo.claro-2 {background:#FFCCBC !important;}
.naranja-profundo.claro-3 {background:#FFAB91 !important;}
.naranja-profundo.claro-4 {background:#FF8A65 !important;}
.naranja-profundo.claro-5 {background:#FF7043 !important;}
.naranja-profundo {background:#FF5722 !important;}
.naranja-profundo.oscuro-1 {background:#F4511E !important;}
.naranja-profundo.oscuro-2 {background:#E64A19 !important;}
.naranja-profundo.oscuro-4 {background:#D84315 !important;}
.naranja-profundo.oscuro-4 {background:#BF360C !important;}
.naranja-profundo.extra-1 {background:#FF9E80 !important;}
.naranja-profundo.extra-2 {background:#FF6E40 !important;}
.naranja-profundo.extra-3 {background:#FF3D00 !important;}
.naranja-profundo.extra-4 {background:#DD2600 !important;}

.naranja-profundo-texto.claro-1 {color:#FBE9E7 !important;}
.naranja-profundo-texto.claro-2 {color:#FFCCBC !important;}
.naranja-profundo-texto.claro-3 {color:#FFAB91 !important;}
.naranja-profundo-texto.claro-4 {color:#FF8A65 !important;}
.naranja-profundo-texto.claro-5 {color:#FF7043 !important;}
.naranja-profundo-texto {color:#FF5722 !important;}
.naranja-profundo-texto.oscuro-1 {color:#F4511E !important;}
.naranja-profundo-texto.oscuro-2 {color:#E64A19 !important;}
.naranja-profundo-texto.oscuro-4 {color:#D84315 !important;}
.naranja-profundo-texto.oscuro-4 {color:#BF360C !important;}
.naranja-profundo-texto.extra-1 {color:#FF9E80 !important;}
.naranja-profundo-texto.extra-2 {color:#FF6E40 !important;}
.naranja-profundo-texto.extra-3 {color:#FF3D00 !important;}
.naranja-profundo-texto.extra-4 {color:#DD2600 !important;}

		/* Café */
.cafe.claro-1 {background:#EFEBE9 !important;}
.cafe.claro-2 {background:#D7CCC8 !important;}
.cafe.claro-3 {background:#BCAAA4 !important;}
.cafe.claro-4 {background:#A1887F !important;}
.cafe.claro-5 {background:#8D6E63 !important;}
.cafe {background:#795548 !important;}
.cafe.oscuro-1 {background:#6D4C41 !important;}
.cafe.oscuro-2 {background:#5D4037 !important;}
.cafe.oscuro-3 {background:#4E342E !important;}
.cafe.oscuro-4 {background:#3E2723 !important;}

.cafe-texto.claro-1 {color:#EFEBE9 !important;}
.cafe-texto.claro-2 {color:#D7CCC8 !important;}
.cafe-texto.claro-3 {color:#BCAAA4 !important;}
.cafe-texto.claro-4 {color:#A1887F !important;}
.cafe-texto.claro-5 {color:#8D6E63 !important;}
.cafe-texto {color:#795548 !important;}
.cafe-texto.oscuro-1 {color:#6D4C41 !important;}
.cafe-texto.oscuro-2 {color:#5D4037 !important;}
.cafe-texto.oscuro-3 {color:#4E342E !important;}
.cafe-texto.oscuro-4 {color:#3E2723 !important;}

		/* Gris */
.gris.claro-1 {background:#FAFAFA !important;}
.gris.claro-2 {background:#F5F5F5 !important;}
.gris.claro-3 {background:#EEEEEE !important;}
.gris.claro-4 {background:#E0E0E0 !important;}
.gris.claro-5 {background:#BDBDBD !important;}
.gris {background:#9E9E9E !important;}
.gris.oscuro-1 {background:#757575 !important;}
.gris.oscuro-2 {background:#616161 !important;}
.gris.oscuro-3 {background:#424242 !important;}
.gris.oscuro-4 {background:#212121 !important;}

.gris-texto.claro-1 {color:#FAFAFA !important;}
.gris-texto.claro-2 {color:#F5F5F5 !important;}
.gris-texto.claro-3 {color:#EEEEEE !important;}
.gris-texto.claro-4 {color:#E0E0E0 !important;}
.gris-texto.claro-5 {color:#BDBDBD !important;}
.gris-texto {color:#9E9E9E !important;}
.gris-texto.oscuro-1 {color:#757575 !important;}
.gris-texto.oscuro-2 {color:#616161 !important;}
.gris-texto.oscuro-3 {color:#424242 !important;}
.gris-texto.oscuro-4 {color:#212121 !important;}

		/* Gris Azulado */
.gris-azulado.claro-1 {background:#ECEFF1 !important;}
.gris-azulado.claro-2 {background:#CFD8DC !important;}
.gris-azulado.claro-3 {background:#B0BBC5 !important;}
.gris-azulado.claro-4 {background:#90A4AE !important;}
.gris-azulado.claro-5 {background:#78909C !important;}
.gris-azulado {background:#607D8B !important;}
.gris-azulado.oscuro-1 {background:#546E7A !important;}
.gris-azulado.oscuro-2 {background:#455A64 !important;}
.gris-azulado.oscuro-3 {background:#37474F !important;}
.gris-azulado.oscuro-4 {background:#263238 !important;}

.gris-azulado-texto.claro-1 {color:#ECEFF1 !important;}
.gris-azulado-texto.claro-2 {color:#CFD8DC !important;}
.gris-azulado-texto.claro-3 {color:#B0BBC5 !important;}
.gris-azulado-texto.claro-4 {color:#90A4AE !important;}
.gris-azulado-texto.claro-5 {color:#78909C !important;}
.gris-azulado-texto {color:#607D8B !important;}
.gris-azulado-texto.oscuro-1 {color:#546E7A !important;}
.gris-azulado-texto.oscuro-2 {color:#455A64 !important;}
.gris-azulado-texto.oscuro-3 {color:#37474F !important;}
.gris-azulado-texto.oscuro-4 {color:#263238 !important;}

		/* Blanco */
.blanco {background:#FFFFFF !important;}

.blanco-texto {color:#FFFFFF !important;}

		/* Negro */
.negro {background:#000000 !important;}

.negro-texto {color:#000000 !important;}